
.body {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-left:215px;
    margin-right: 5px;
    color: #404040;
    font-family: 'DM Sans', sans-serif;

}

.video-container {
    background-image: url('Poster.jpg');
    border: 2px solid #404040;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 25px;

    height: 300px ;

}

.body-bottom {
    display: flex;
    padding: 10px 5px;
    
}

.info {
display: flex;
flex-wrap: wrap;
align-items: center;
}
.info > h3 {
    margin: auto 8px;
}
.genre {
    color: #cf3b5d;
    border: 0.5px solid #eba5c4;
    border-radius: 25px;
    padding: 2px 10px;
    height: 20px;
    font-weight: 600;

    
}
.bottom-left {
    display: flex;
    flex-direction: column;
    width: 70%;

}
.creators {
    margin: 10px 0px;
}
.creators > p {
    margin: 20px 10px;
}
.names {
    color: #dc0034;

}
.bottom-right {
width: 30%;
}

body::-webkit-scrollbar {
    width: 0.8em;

}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #e0728c;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #cf3b5d;
  outline: 1px solid #2f2a2b;
}
.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #404040;
    border-radius: 15px;
    padding: 0px;
 margin: 10px;
}
.top-rated {
    color: #ffff;

    background-color: #dc0034;
    padding: 15px 20px;
    border-radius: 15px;
    justify-content:space-between;
}
.award {
    padding: 15px 20px;
}
.showtime {
width: 100%;
padding: 14px;
border-radius: 15px;
margin: 5px;
color: #ffff;
background-color:#dc0034;
border: none;
}
.more-watch {
    width: 100%;
    padding: 14px;
    border-radius: 15px;
    margin: 5px;
    background-color: #f7cbd5;
    border: 2px solid #cf3b5d;
    }
.image-grid {
width: 100%;
}
@media (max-width:700px) {
    .body {
        margin-left:5px;
        margin-right: 0px;
    }

    .movie {
        width: 100%;
    }
}