.header-container {
  flex-direction: column;
  height: 450px;
  width: 100%;
  box-sizing: content-box;
  background-image: url("./images/Poster.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffff;
  padding: 20px;
  font-family: 'DM Sans', sans-serif;
}
input {
  border: 2px solid #ffff;
  text-align: center;
  width: 350px;
  height: 30px;
  color: #ffff;
  background: transparent;
  border-radius: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
  width: 100%;
}
.country-date {
display: flex;
}
.movieGrid {
  display: flex;
  flex-wrap: wrap;
  font-family: 'DM Sans', sans-serif;
}
.movieGrid :hover {

  
}
.menu {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.menu > h3 {
  margin-right: 15px;
}
.name {
  display: flex;
  align-items: center;
}
.country {
  text-decoration: none;
}
.movie-title {
  text-decoration: none;
}

.card {
  margin: 10px 5px;
  max-width: 200px;
  text-decoration: none;
  color: black;
  
}
.card:hover {
  transform:scale(1.03);
}
.card > h3,
p {
  margin: 8px;
  padding: 0px;
}
.movieImage {
  width: 200px;
}
.description {
  margin-left: 12%;
  max-width: 300px;
  max-height: 250px;
}
.description > h3 {
  font-size: 30px;
  margin-bottom: 0px;
}
.description > p {
  font-size: 18px;

}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 300px) {
  .header-container {
    font-size: 0.5em;
  }
}
