.header-container {
  flex-direction: column;
  height: 400px;
  width: inherit;
  box-sizing: content-box;
  background-image: url("./images/Poster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffff;
  padding: 10px;
  font-family: 'DM Sans', sans-serif;
}
input {
  border: 2px solid #ffff;
  text-align: center;
  width: 250px;
  height: 30px;
  color: #ffff;
  background: transparent;
  border-radius: 10px;
}
.favourite {

  border-radius: 50%;
  position:absolute;
  width: 40px;
  height: 40px;
  background-color: #f48484;
  margin-top: 15px;
  right: 15px;
  display: flex;
}
.favourite:hover {
background-color: #f75757 ;
transform: scale(1.1);
}
.favourite > img {
  margin: auto auto;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
  width: inherit;
}
.country-date {
display: flex;
}
.movieGrid {
  display: flex;
  flex-wrap: wrap;
  font-family: 'DM Sans', sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.menu > h3 {
  margin-right: 15px;
}
.name {
  display: flex;
  align-items: center;
}
.country {
  text-decoration: none;
}
.movie-title {
  text-decoration: none;
}

.card {
  margin: 20px 5px;
  max-width: 200px;
  text-decoration: none;
  color: black;
  position: relative;
  
}
.card:hover {
  transform:scale(1.03);
}
.card > h3,
p {
  margin: 8px;
  padding: 0px;
}
.movieImage {
  width: 200px;
}
.description {
  margin-left: 12%;
  max-width: 300px;
  max-height: 250px;
}
.imdb {
margin-right: 50px;
}
.description > h3 {
  font-size: 30px;
  margin-bottom: 0px;
}
.description > button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #e13448;
  border: none;
  margin-top: 10px;
}
.description > p {
  font-size: 18px;

}
.tomato {
margin-left: 60%;
}
i {
  margin: 0px 5px;
}
.stats {
  display: flex;
  align-items: center;

}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:60px auto;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
}
.logos > img{
  margin: 0px 20px;
}
.conditions {

  display: flex;
  font-weight: 600;
}

@media (max-width: 700px) {
  .header-container {
    font-size: 0.9rem;
    height: 220px;
    background-size: cover;
  
  }
.home-nav img {
  width:35px;
}
  input{
    width: 200px;
    height: 20px;
    padding:0px
  }
  .description{
    width: 200px;
  }
  .description h3 {
    font-size: 1rem;
    margin: 0px;
  }
  .description img {
    width: 15px;
  }
  .description p {
    font-size: 0.7rem;
    margin: 0px;
  }
  .card {
    margin: 20px 10px;
    max-width: 150px;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
  }
  .movieImage{
    max-width: 150px;
  }
  .card h3 {
    margin: 0px;
  }
  .card p {
    margin:5px
  }
  .favourite {
    width: 30px;
    height: 30px;
  }
}

@media (max-width:502px) {
.header-container {
  height: 250px;
}
.home-nav {
font-size: 0.8rem;
margin: 0px;
padding: 0px;
flex-basis: 2px;
}
.menu {
  flex-direction: column;
  width:50px;
  height: 10px;
}
input {
max-width: 100px;
}
.name img {
  margin: 5px;
width: 30px;
}
.home-nav h3 {
  margin: 0px;
  word-wrap:unset;
}
.menu img {
  margin:5px;
  max-width: 30px;
}
.name {
  flex-direction: column;
}
.description {
  margin-top: 15px;
}
}
